<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreFileSize</key>
	<integer>2875045</integer>
	<key>AppStoreFileSizeValid</key>
	<true/>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Kjernetemperatur.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.kjernetemperatur.kjernetemperatur</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1.0.0</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/Kjernetemperatur.app/icon@2x.png</string>
			<string>Applications/Kjernetemperatur.app/icon.png</string>
			<string>Applications/Kjernetemperatur.app/icon-40@2x.png</string>
			<string>Applications/Kjernetemperatur.app/icon-40.png</string>
			<string>Applications/Kjernetemperatur.app/icon-small@2x.png</string>
			<string>Applications/Kjernetemperatur.app/icon-small.png</string>
			<string>Applications/Kjernetemperatur.app/icon-60@2x.png</string>
			<string>Applications/Kjernetemperatur.app/icon-60.png</string>
			<string>Applications/Kjernetemperatur.app/icon@2x.png</string>
			<string>Applications/Kjernetemperatur.app/icon.png</string>
			<string>Applications/Kjernetemperatur.app/icon@2x.png</string>
			<string>Applications/Kjernetemperatur.app/icon-72@2x.png</string>
			<string>Applications/Kjernetemperatur.app/icon-72.png</string>
			<string>Applications/Kjernetemperatur.app/icon-72@2x.png</string>
		</array>
		<key>SigningIdentity</key>
		<string>iPhone Developer: Martin Gunnerud (FB92V5W2Z9)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2015-07-01T19:06:01Z</date>
	<key>Name</key>
	<string>Kjernetemperatur</string>
	<key>SchemeName</key>
	<string>Kjernetemperatur</string>
</dict>
</plist>
