* {
    box-sizing: border-box;
    font-family: helvetica;
}

body
{
	height: 100%;
	width: 100%;
	margin: 0px;
}

#viewport
{
	position: absolute;
	top: 0;
    bottom: 50px; /* footer buttons */
	left: 0;
	right: 0;
}

#scrollpane
{
	position: relative;
	right: 0px;
	height: 100%;
}

#header
{
    position: relative;
	height: 34px;
	padding: 5px;
	background-color: #DDD;
	border-bottom: 1px solid black;
}

#footer
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
    line-height: 26px;
    border-top: 1px solid;
}

#scrollwrapper
{
	position: absolute;
	top: 34px;
	bottom: 0;
	left: 0;
	right: 0;
}

.tabbutton
{
	display: inline-block;
	/*padding: 4px;*/
    height: 100%;
	width: 50%;
	text-align: center;
	/*border: 1px solid;*/
}

.tabbutton .fa
{
    display: block;
    padding-top: 5px;
    font-size: 20px;
}

.tabbuttonName
{
    font-size: 10px;
    line-height: 18px;
}

.activeTabButton
{
	color: #DA0000;
}

#contact
{
	display: none;
}

#headerName
{
	padding-top: 4px;
    text-align: center;
}

#backButton
{
    border-radius: 3px;
    position: absolute;
    top: 0px;
    width: 30px;
    text-align: center;
    font-size: 27px;
    height: 100%;
}

#backButton:active i
{
    color: #777;
}
.tabbutton:not(.activeTabButton):active
{
	color: #AD0000;
}

.page
{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	position: relative;
}

.listObject
{
	margin: 5px;
    border: 1px solid #AAA;
	cursor: pointer;
	position: relative;
    border-radius: 5px;
}

.listObjectName
{
    padding: 5px;
}

.listObject.nodeHasChildren:active
{
	background-color: #DDD;
}

.listObjectArrow
{
	position: absolute;
	right: 5px;
	top: 0px;
    font-size: 27px !important;
}